// Mobile display index

// 1: Landing

// ---------1--------------

#landingMobile{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    z-index: 1;
    position: absolute;
    #logo{
        width: 200px;
        height: 250px;   
        margin-left: 0;
        #logolayer106 {
        transform: translate(-220px, -280px);
        z-index: -1;
        }
    }
    #bulb{
        height: 30vh;
        top: -25px;
    }
    #textLogo {
    position: absolute;
    bottom: 20vh;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    letter-spacing: 4px;
    font-weight: bold;
    }
}