// Mobile display index

// 1: Landing
// 2: Intro Mobile

// ---------1--------------

#landingMobile{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    z-index: 1;
    position: absolute;
    #logo{
        width: 200px;
        height: 250px;   
        margin-left: 0;
        #logolayer106 {
            transform: translate(-220px, -280px);
            z-index: -1;
        }
    }
    #bulb{
        height: 30vh;
        top: -25px;
    }
    #textLogo {
        position: absolute;
        bottom: 20vh;
        color: white;
        font-family: 'Amatic SC', cursive;
        font-size: 2em;
        letter-spacing: 4px;
        font-weight: bold;
    }
}

// ---------2--------------

#introMobile{
    position: absolute;
    top: 100vh;
    height: 100vh;
    width: 100%;
    z-index: 1;
    // background: red;
    // opacity: 0.8;

    .marketHeading{
        height: 10vh;
        margin: 0;
        padding: 0;
        font-size: 5vh;
        color: $drWhite;
    }

    .announcement{
        height: 60vh;
        position: absolute;
        background: none;
        top: 10vh;
        border: 4px solid $drWhite;
        box-shadow: 2px 12px 200px -1px rgba(0, 243, 223, 1);
        font-size: 4.8vh;
        a{
        font-size: 25px !important;
        }
        img{
            height: 30px;
            width: 30px;
        }
    }
    .poster{
        border-top: 4px solid $drBlueL;
        border-bottom: 4px solid $drBlueL;
            top: 33vh;

            width: 100vw;
            background-image: url('../gallery/poster.png');
            background-position: center;
            height: 24vh;
            z-index: 4;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
    }
}