@import url("https://fonts.googleapis.com/css?family=Montserrat|Sofia");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
body {
  height: 1400vh;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', cursive !important;
}

#canvasballs {
  height: 100%;
  position: fixed !important;
  background: #161111;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#logo {
  height: 400px;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  margin-left: 25px;
  margin-top: 25px;
}

/* 3:________________________________________  */
.landing {
  /* 4:________________________________________  */
}

.landing #bulb {
  position: absolute;
  background: none;
  top: -3px;
}

.landing .landingbulb1 path {
  -webkit-animation: landingmove 4s infinite;
          animation: landingmove 4s infinite;
}

.landing .landingbulb2 path {
  -webkit-animation: pendulum 6s infinite;
          animation: pendulum 6s infinite;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0.07, 0.23, 0.91);
          transition-timing-function: cubic-bezier(0.75, 0.07, 0.23, 0.91);
}

.landing .landingbulb3 path {
  -webkit-animation: landingmove 5s infinite;
          animation: landingmove 5s infinite;
}

.landing #landingline1 {
  -webkit-animation: landingmove 4s infinite;
          animation: landingmove 4s infinite;
}

.landing #landingline2 {
  -webkit-animation: pendulum 6s infinite;
          animation: pendulum 6s infinite;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0.07, 0.23, 0.91);
          transition-timing-function: cubic-bezier(0.75, 0.07, 0.23, 0.91);
}

.landing #landingline3 {
  -webkit-animation: landingmove 5s infinite;
          animation: landingmove 5s infinite;
}

@-webkit-keyframes landingmove {
  0% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  10% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  20% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  30% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  40% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  70% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  80% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  90% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

@keyframes landingmove {
  0% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  10% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  20% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  30% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  40% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  70% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  80% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  90% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

@-webkit-keyframes pendulum {
  0% {
    -webkit-transform: rotateY(7deg);
            transform: rotateY(7deg);
  }
  25% {
    -webkit-transform: rotateY(-7deg);
            transform: rotateY(-7deg);
  }
  /* 50% { transform: rotateY(-5deg);} */
  75% {
    -webkit-transform: rotateY(7deg);
            transform: rotateY(7deg);
  }
  100% {
    -webkit-transform: rotateY(-7deg);
            transform: rotateY(-7deg);
  }
}

@keyframes pendulum {
  0% {
    -webkit-transform: rotateY(7deg);
            transform: rotateY(7deg);
  }
  25% {
    -webkit-transform: rotateY(-7deg);
            transform: rotateY(-7deg);
  }
  /* 50% { transform: rotateY(-5deg);} */
  75% {
    -webkit-transform: rotateY(7deg);
            transform: rotateY(7deg);
  }
  100% {
    -webkit-transform: rotateY(-7deg);
            transform: rotateY(-7deg);
  }
}

@-webkit-keyframes landingglowa {
  0% {
    stroke: #4dcacb;
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
  }
  25% {
    stroke: #e3f300;
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
  }
  50% {
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
    stroke: #fdffdf;
  }
  75% {
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
    stroke: #e3f300;
  }
  100% {
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
    stroke: #4dcacb;
  }
}

@keyframes landingglowa {
  0% {
    stroke: #4dcacb;
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
  }
  25% {
    stroke: #e3f300;
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
  }
  50% {
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
    stroke: #fdffdf;
  }
  75% {
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
    stroke: #e3f300;
  }
  100% {
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
    stroke: #4dcacb;
  }
}

@-webkit-keyframes landinglighta {
  0% {
    stroke: #4dcacb;
  }
  25% {
    stroke: #e3f300;
  }
  50% {
    stroke: #fdffdf;
  }
  75% {
    stroke: #e3f300;
  }
  100% {
    stroke: #4dcacb;
  }
}

@keyframes landinglighta {
  0% {
    stroke: #4dcacb;
  }
  25% {
    stroke: #e3f300;
  }
  50% {
    stroke: #fdffdf;
  }
  75% {
    stroke: #e3f300;
  }
  100% {
    stroke: #4dcacb;
  }
}

@-webkit-keyframes landingglowb {
  0% {
    stroke: #F44336;
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
  }
  25% {
    stroke: #BA68C8;
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
  }
  50% {
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
    stroke: #4dcacb;
  }
  75% {
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
    stroke: #BA68C8;
  }
  100% {
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
    stroke: #F44336;
  }
}

@keyframes landingglowb {
  0% {
    stroke: #F44336;
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
  }
  25% {
    stroke: #BA68C8;
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
  }
  50% {
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
    stroke: #4dcacb;
  }
  75% {
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
    stroke: #BA68C8;
  }
  100% {
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
    stroke: #F44336;
  }
}

@-webkit-keyframes landinglightb {
  0% {
    stroke: #F44336;
  }
  25% {
    stroke: #BA68C8;
  }
  50% {
    stroke: #4dcacb;
  }
  75% {
    stroke: #BA68C8;
  }
  100% {
    stroke: #F44336;
  }
}

@keyframes landinglightb {
  0% {
    stroke: #F44336;
  }
  25% {
    stroke: #BA68C8;
  }
  50% {
    stroke: #4dcacb;
  }
  75% {
    stroke: #BA68C8;
  }
  100% {
    stroke: #F44336;
  }
}

@-webkit-keyframes landingglowc {
  0% {
    stroke: #00FF33;
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
  }
  25% {
    stroke: #4dcacb;
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
  }
  50% {
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
    stroke: #9C27B0;
  }
  75% {
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
    stroke: #4dcacb;
  }
  100% {
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
    stroke: #00FF33;
  }
}

@keyframes landingglowc {
  0% {
    stroke: #00FF33;
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
  }
  25% {
    stroke: #4dcacb;
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
  }
  50% {
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
    stroke: #9C27B0;
  }
  75% {
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
    stroke: #4dcacb;
  }
  100% {
    -webkit-filter: url(#blur-filter-landing);
            filter: url(#blur-filter-landing);
    stroke: #00FF33;
  }
}

@-webkit-keyframes landinglightc {
  0% {
    stroke: #00FF33;
  }
  25% {
    stroke: #4dcacb;
  }
  50% {
    stroke: #9C27B0;
  }
  75% {
    stroke: #4dcacb;
  }
  100% {
    stroke: #00FF33;
  }
}

@keyframes landinglightc {
  0% {
    stroke: #00FF33;
  }
  25% {
    stroke: #4dcacb;
  }
  50% {
    stroke: #9C27B0;
  }
  75% {
    stroke: #4dcacb;
  }
  100% {
    stroke: #00FF33;
  }
}

.landing #landingglow1 {
  -webkit-animation: landingglowa 2s ease infinite, landingmove 4s infinite;
          animation: landingglowa 2s ease infinite, landingmove 4s infinite;
}

.landing #landingtungsten1 {
  -webkit-animation: landinglighta 2s ease infinite, landingmove 4s infinite;
          animation: landinglighta 2s ease infinite, landingmove 4s infinite;
}

.landing #landingglow2 {
  -webkit-animation: landingglowb 4s ease infinite, pendulum 6s infinite;
          animation: landingglowb 4s ease infinite, pendulum 6s infinite;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0.07, 0.23, 0.91);
          transition-timing-function: cubic-bezier(0.75, 0.07, 0.23, 0.91);
}

.landing #landingtungsten2 {
  -webkit-animation: landinglightb 4s ease infinite, pendulum 6s infinite;
          animation: landinglightb 4s ease infinite, pendulum 6s infinite;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0.07, 0.23, 0.91);
          transition-timing-function: cubic-bezier(0.75, 0.07, 0.23, 0.91);
}

.landing #landingglow3 {
  -webkit-animation: landingglowc 6s ease infinite, landingmove 5s infinite;
          animation: landingglowc 6s ease infinite, landingmove 5s infinite;
}

.landing #landingtungsten3 {
  -webkit-animation: landinglightc 6s ease infinite, landingmove 5s infinite;
          animation: landinglightc 6s ease infinite, landingmove 5s infinite;
}

#logolayer106 {
  -webkit-transform: translate(-220px, -280px);
          transform: translate(-220px, -280px);
  z-index: -1;
}

@-webkit-keyframes rotationIn {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes rotationIn {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-webkit-keyframes brighten {
  0% {
    fill: #4dcacb;
  }
  50% {
    fill: white;
  }
  100% {
    fill: #4dcacb;
  }
}

@keyframes brighten {
  0% {
    fill: #4dcacb;
  }
  50% {
    fill: white;
  }
  100% {
    fill: #4dcacb;
  }
}

/* #bcebeb */
#logo:hover > #layer104,
#logo:hover > #logolayer106 {
  -webkit-animation: brighten 4s ease-in-out;
          animation: brighten 4s ease-in-out;
}

#logo:hover > #layer101 {
  -webkit-transform-origin: 1250px 1200px;
          transform-origin: 1250px 1200px;
  -webkit-animation: rotationIn 4s;
          animation: rotationIn 4s;
}

#layer101 {
  z-index: 1;
}

/* 5:________________________________________  */
#logo:hover + #text {
  -webkit-animation: animate 4s linear;
          animation: animate 4s linear;
}

#text {
  position: absolute;
  padding-top: 20px;
  top: 65%;
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  letter-spacing: 4px;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#000), color-stop(#fff), to(#000));
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: -300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@-webkit-keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

#logolayer106 {
  z-index: -2;
}

#layer101 {
  z-index: 1;
}

.landing {
  font-family: 'Amatic SC', cursive !important;
}

/* Index: */
/* 1 : Navigation */
.navbutton {
  top: 45%;
  left: 20px;
  z-index: 5;
  position: fixed;
  color: #4dcacb;
}

.option {
  margin-left: 35%;
  left: 20%;
  height: 10vh;
  border-radius: 50px;
  color: rgba(0, 0, 0, 0);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 10vh;
}

.option img {
  background-color: #4dcacb;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  top: 10%;
}

.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  left: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 10;
}

.sidenav a {
  font-size: 4vh;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: 'Amatic SC', cursive;
}

.sidenav a:hover {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  color: #efe1c9;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}

.sidenav a:hover > img {
  background-color: #efe1c9;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.closebtn {
  position: absolute;
  color: #4dcacb;
  left: 25px;
  height: 10px;
  width: 10px;
  z-index: 5;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* // Home page */
/* 1: Body */
/* 2: Bulbs */
/* 3: Night market announcement with location */
/* 4: Scroll */
/* 5:  Gallery Prompt */
/* 6:  Current Market Poster */
/* 7:  Gallery */
/* // 1:________________________________________ */
.intro {
  position: absolute;
  height: 350vh;
  width: 100vw;
  top: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* // 2:________________________________________ */
#bulb {
  position: absolute;
  width: 100vw;
  height: 101vh;
  top: 60vh;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(-1vh);
            transform: translateY(-1vh);
  }
  10% {
    -webkit-transform: translateY(-2vh);
            transform: translateY(-2vh);
  }
  20% {
    -webkit-transform: translateY(-4vh);
            transform: translateY(-4vh);
  }
  30% {
    -webkit-transform: translateY(-6vh);
            transform: translateY(-6vh);
  }
  40% {
    -webkit-transform: translateY(-8vh);
            transform: translateY(-8vh);
  }
  50% {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
  60% {
    -webkit-transform: translateY(-8vh);
            transform: translateY(-8vh);
  }
  70% {
    -webkit-transform: translateY(-6vh);
            transform: translateY(-6vh);
  }
  80% {
    -webkit-transform: translateY(-4vh);
            transform: translateY(-4vh);
  }
  90% {
    -webkit-transform: translateY(-2vh);
            transform: translateY(-2vh);
  }
  100% {
    -webkit-transform: translateY(-1vh);
            transform: translateY(-1vh);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateY(-1vh);
            transform: translateY(-1vh);
  }
  10% {
    -webkit-transform: translateY(-2vh);
            transform: translateY(-2vh);
  }
  20% {
    -webkit-transform: translateY(-4vh);
            transform: translateY(-4vh);
  }
  30% {
    -webkit-transform: translateY(-6vh);
            transform: translateY(-6vh);
  }
  40% {
    -webkit-transform: translateY(-8vh);
            transform: translateY(-8vh);
  }
  50% {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
  60% {
    -webkit-transform: translateY(-8vh);
            transform: translateY(-8vh);
  }
  70% {
    -webkit-transform: translateY(-6vh);
            transform: translateY(-6vh);
  }
  80% {
    -webkit-transform: translateY(-4vh);
            transform: translateY(-4vh);
  }
  90% {
    -webkit-transform: translateY(-2vh);
            transform: translateY(-2vh);
  }
  100% {
    -webkit-transform: translateY(-1vh);
            transform: translateY(-1vh);
  }
}

@keyframes pendulum {
  0% {
    -webkit-transform: rotateY(5deg);
            transform: rotateY(5deg);
  }
  25% {
    -webkit-transform: rotateY(-5deg);
            transform: rotateY(-5deg);
  }
  /* 50% { transform: rotateY(-5deg);} */
  75% {
    -webkit-transform: rotateY(5deg);
            transform: rotateY(5deg);
  }
  100% {
    -webkit-transform: rotateY(-5deg);
            transform: rotateY(-5deg);
  }
}

@-webkit-keyframes move2 {
  0% {
    -webkit-transform: translateY(-2vh);
            transform: translateY(-2vh);
  }
  10% {
    -webkit-transform: translateY(-4vh);
            transform: translateY(-4vh);
  }
  20% {
    -webkit-transform: translateY(-6vh);
            transform: translateY(-6vh);
  }
  30% {
    -webkit-transform: translateY(-8vh);
            transform: translateY(-8vh);
  }
  40% {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
  50% {
    -webkit-transform: translateY(-12vh);
            transform: translateY(-12vh);
  }
  60% {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
  70% {
    -webkit-transform: translateY(-8vh);
            transform: translateY(-8vh);
  }
  80% {
    -webkit-transform: translateY(-6vh);
            transform: translateY(-6vh);
  }
  90% {
    -webkit-transform: translateY(-4vh);
            transform: translateY(-4vh);
  }
  100% {
    -webkit-transform: translateY(-2vh);
            transform: translateY(-2vh);
  }
}

@keyframes move2 {
  0% {
    -webkit-transform: translateY(-2vh);
            transform: translateY(-2vh);
  }
  10% {
    -webkit-transform: translateY(-4vh);
            transform: translateY(-4vh);
  }
  20% {
    -webkit-transform: translateY(-6vh);
            transform: translateY(-6vh);
  }
  30% {
    -webkit-transform: translateY(-8vh);
            transform: translateY(-8vh);
  }
  40% {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
  50% {
    -webkit-transform: translateY(-12vh);
            transform: translateY(-12vh);
  }
  60% {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
  70% {
    -webkit-transform: translateY(-8vh);
            transform: translateY(-8vh);
  }
  80% {
    -webkit-transform: translateY(-6vh);
            transform: translateY(-6vh);
  }
  90% {
    -webkit-transform: translateY(-4vh);
            transform: translateY(-4vh);
  }
  100% {
    -webkit-transform: translateY(-2vh);
            transform: translateY(-2vh);
  }
}

@-webkit-keyframes pendulum2 {
  from {
    -webkit-transform: rotateY(-10deg);
            transform: rotateY(-10deg);
  }
  to {
    -webkit-transform: rotateY(10deg);
            transform: rotateY(10deg);
  }
}

@keyframes pendulum2 {
  from {
    -webkit-transform: rotateY(-10deg);
            transform: rotateY(-10deg);
  }
  to {
    -webkit-transform: rotateY(10deg);
            transform: rotateY(10deg);
  }
}

#tungsten1 path {
  -webkit-animation: lighta 2s ease infinite, move 4s infinite;
          animation: lighta 2s ease infinite, move 4s infinite;
}

#glow1 path {
  -webkit-animation: glowa 2s ease infinite, move 4s infinite;
          animation: glowa 2s ease infinite, move 4s infinite;
}

.bulb1,
.line1 {
  -webkit-animation: move 4s infinite;
          animation: move 4s infinite;
}

@-webkit-keyframes lighta {
  0% {
    fill: #4dcacb;
  }
  25% {
    fill: #e3f300;
  }
  50% {
    fill: #fdffdf;
  }
  75% {
    fill: #e3f300;
  }
  100% {
    fill: #4dcacb;
  }
}

@keyframes lighta {
  0% {
    fill: #4dcacb;
  }
  25% {
    fill: #e3f300;
  }
  50% {
    fill: #fdffdf;
  }
  75% {
    fill: #e3f300;
  }
  100% {
    fill: #4dcacb;
  }
}

@-webkit-keyframes glowa {
  0% {
    stroke: #4dcacb;
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
  }
  25% {
    stroke: #e3f300;
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
  }
  50% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #fdffdf;
  }
  75% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #e3f300;
  }
  100% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #4dcacb;
  }
}

@keyframes glowa {
  0% {
    stroke: #4dcacb;
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
  }
  25% {
    stroke: #e3f300;
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
  }
  50% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #fdffdf;
  }
  75% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #e3f300;
  }
  100% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #4dcacb;
  }
}

#tungsten2 path {
  -webkit-animation: lightb 4s ease infinite, move 6s infinite;
          animation: lightb 4s ease infinite, move 6s infinite;
}

#glow2 path {
  -webkit-animation: glowb 4s ease infinite, move 6s infinite;
          animation: glowb 4s ease infinite, move 6s infinite;
}

.bulb2,
.line2 {
  -webkit-animation: move 6s infinite;
          animation: move 6s infinite;
}

@-webkit-keyframes glowb {
  0% {
    stroke: #2fe529;
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
  }
  25% {
    stroke: #ff0000;
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
  }
  50% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #4dcacb;
  }
  75% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #ff0000;
  }
  100% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #2fe529;
  }
}

@keyframes glowb {
  0% {
    stroke: #2fe529;
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
  }
  25% {
    stroke: #ff0000;
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
  }
  50% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #4dcacb;
  }
  75% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #ff0000;
  }
  100% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #2fe529;
  }
}

@-webkit-keyframes lightb {
  0% {
    fill: #2fe529;
  }
  25% {
    fill: #ff0000;
  }
  50% {
    fill: #4dcacb;
  }
  75% {
    fill: #ff0000;
  }
  100% {
    fill: #2fe529;
  }
}

@keyframes lightb {
  0% {
    fill: #2fe529;
  }
  25% {
    fill: #ff0000;
  }
  50% {
    fill: #4dcacb;
  }
  75% {
    fill: #ff0000;
  }
  100% {
    fill: #2fe529;
  }
}

#tungsten3 path {
  -webkit-animation: lightc 5s ease infinite, pendulum2 6s infinite;
          animation: lightc 5s ease infinite, pendulum2 6s infinite;
}

#glow3 path {
  -webkit-animation: glowc 5s ease infinite, pendulum2 6s infinite;
          animation: glowc 5s ease infinite, pendulum2 6s infinite;
}

.bulb3,
.line3 {
  -webkit-animation: pendulum2 6s infinite;
          animation: pendulum2 6s infinite;
}

@-webkit-keyframes glowc {
  0% {
    stroke: #00FF33;
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
  }
  25% {
    stroke: #cc00ff;
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
  }
  50% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #ffff1a;
  }
  75% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #cc00ff;
  }
  100% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #00FF33;
  }
}

@keyframes glowc {
  0% {
    stroke: #00FF33;
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
  }
  25% {
    stroke: #cc00ff;
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
  }
  50% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #ffff1a;
  }
  75% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #cc00ff;
  }
  100% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #00FF33;
  }
}

@-webkit-keyframes lightc {
  0% {
    fill: #00FF33;
  }
  25% {
    fill: #cc00ff;
  }
  50% {
    fill: #ffff1a;
  }
  75% {
    fill: #cc00ff;
  }
  100% {
    fill: #00FF33;
  }
}

@keyframes lightc {
  0% {
    fill: #00FF33;
  }
  25% {
    fill: #cc00ff;
  }
  50% {
    fill: #ffff1a;
  }
  75% {
    fill: #cc00ff;
  }
  100% {
    fill: #00FF33;
  }
}

#tungsten4 path {
  -webkit-animation: lightd 6s ease infinite, move2 3s infinite;
          animation: lightd 6s ease infinite, move2 3s infinite;
}

#glow4 path {
  -webkit-animation: glowd 6s ease infinite, move2 3s infinite;
          animation: glowd 6s ease infinite, move2 3s infinite;
}

.bulb4,
.line4 {
  -webkit-animation: move 3s infinite;
          animation: move 3s infinite;
}

@-webkit-keyframes glowd {
  0% {
    stroke: #00f3e0;
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
  }
  25% {
    stroke: #ff44f5;
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
  }
  50% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #ff5507;
  }
  75% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #ff44f5;
  }
  100% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #00f3e0;
  }
}

@keyframes glowd {
  0% {
    stroke: #00f3e0;
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
  }
  25% {
    stroke: #ff44f5;
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
  }
  50% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #ff5507;
  }
  75% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #ff44f5;
  }
  100% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #00f3e0;
  }
}

@-webkit-keyframes lightd {
  0% {
    fill: #00f3e0;
  }
  25% {
    fill: #ff44f5;
  }
  50% {
    fill: #ff5507;
  }
  75% {
    fill: #ff44f5;
  }
  100% {
    fill: #00f3e0;
  }
}

@keyframes lightd {
  0% {
    fill: #00f3e0;
  }
  25% {
    fill: #ff44f5;
  }
  50% {
    fill: #ff5507;
  }
  75% {
    fill: #ff44f5;
  }
  100% {
    fill: #00f3e0;
  }
}

#tungsten5 path {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: lighte 8s ease infinite, pendulum2 2s ease infinite;
          animation: lighte 8s ease infinite, pendulum2 2s ease infinite;
}

#glow5 path {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: glowe 8s ease infinite, pendulum2 2s ease infinite;
          animation: glowe 8s ease infinite, pendulum2 2s ease infinite;
}

.bulb5,
.line5 {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: pendulum2 2s ease infinite;
          animation: pendulum2 2s ease infinite;
}

@-webkit-keyframes glowe {
  0% {
    stroke: #ff0077;
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
  }
  25% {
    stroke: #08ff00;
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
  }
  50% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #00f3e0;
  }
  75% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #08ff00;
  }
  100% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #ff0077;
  }
}

@keyframes glowe {
  0% {
    stroke: #ff0077;
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
  }
  25% {
    stroke: #08ff00;
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
  }
  50% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #00f3e0;
  }
  75% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #08ff00;
  }
  100% {
    -webkit-filter: url(#blur-filter);
            filter: url(#blur-filter);
    stroke: #ff0077;
  }
}

@-webkit-keyframes lighte {
  0% {
    fill: #ff0077;
  }
  25% {
    fill: #08ff00;
  }
  50% {
    fill: #00f3e0;
  }
  75% {
    fill: #08ff00;
  }
  100% {
    fill: #ff0077;
  }
}

@keyframes lighte {
  0% {
    fill: #ff0077;
  }
  25% {
    fill: #08ff00;
  }
  50% {
    fill: #00f3e0;
  }
  75% {
    fill: #08ff00;
  }
  100% {
    fill: #ff0077;
  }
}

/* // 3:________________________________________ */
.heading {
  font-size: 7vh;
  text-decoration: underline;
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
  margin-bottom: 3px;
}

.announcement {
  position: absolute;
  width: 90vw;
  padding-top: 0.2em;
  height: 60vh;
  top: 5vh;
  background-color: #161111;
  left: 5vw;
  font-family: 'Amatic SC', cursive;
  font-stretch: expanded;
  color: #00f3df;
  font-size: 6vh;
  text-align: center;
  border: 10px solid;
  border-color: #FFF;
  border-radius: 50px;
  overflow: hidden;
  -webkit-box-shadow: 2px 12px 144px -33px #00f3df;
          box-shadow: 2px 12px 144px -33px #00f3df;
}

.announcement:hover {
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #00f3df, 0 0 30px #00f3df, 0 0 40px #00f3df, 0 0 55px #00f3df, 0 0 75px #00f3df, -40px -6px 6px rgba(0, 243, 223, 0);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.locationFetch {
  height: 7vh;
  width: 7vh;
  -webkit-animation: jumping 0.8s ease-out infinite;
          animation: jumping 0.8s ease-out infinite;
}

.locationFetch:hover {
  cursor: pointer;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

@-webkit-keyframes jumping {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  40% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  60% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  80% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes jumping {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  40% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  60% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  80% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/* // 4:________________________________________ */
::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
}

/* // 5:________________________________________ */
.question {
  width: 100vw;
  top: 250vh;
  position: absolute;
  text-align: center;
}

.question a {
  font-family: 'Amatic SC', cursive;
  font-stretch: expanded;
  color: white;
  font-size: 8vh;
  -webkit-text-decoration-line: overline;
          text-decoration-line: overline;
  -webkit-text-decoration-color: #00f3e0;
          text-decoration-color: #00f3e0;
}

/* // 6:________________________________________ */
.currentMarket {
  height: 100vh;
  top: 140vh;
  position: absolute;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.currentMarket .blueBar {
  background: #00f3e0;
  height: 50vh;
  top: 17vh;
  left: -50vw;
  position: absolute;
  width: 200vw;
  -webkit-transform: rotate(-19deg);
          transform: rotate(-19deg);
  z-index: 3;
  overflow: hidden;
}

.currentMarket .poster {
  border: 10px solid #00f3e0;
  border-radius: 10px;
  width: 90vw;
  background-image: url("../gallery/poster.png");
  background-position: center;
  height: 70vh;
  z-index: 4;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

/* // 7:________________________________________ */
.gallery {
  display: -ms-grid;
  display: grid;
  width: 105%;
  -ms-grid-columns: (100px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
}

.item {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
  background-position: center;
  background-size: cover;
}

.item.v2 {
  grid-row: span 2;
}

.item.v3 {
  grid-row: span 3;
}

.item.v4 {
  grid-row: span 4;
}

.item.h2 {
  grid-column: span 2;
}

.item.h3 {
  grid-column: span 3;
}

.item.h4 {
  grid-column: span 4;
}

.close {
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  margin-bottom: 2px;
}

.overlay, .overlayMobile {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  z-index: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background: rgba(255, 255, 255, 0.479);
}

.item img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item__overlay {
  background: rgba(66, 196, 211, 0.5);
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.item__overlay button {
  background: none;
  border-radius: 50px;
  border: 2px solid whitesmoke;
  color: azure;
  text-transform: capitalize;
}

button:hover {
  background: white;
  color: #19D8FF;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border: 2px solid #19D8FF;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.item:hover .item__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.overlay.open {
  display: -ms-grid;
  display: grid;
}

.overlayMobile.open {
  display: -ms-grid;
  display: grid;
}

.overlay-inner {
  background: #19D8FF;
  width: 60vw;
  height: auto;
  padding: 5px;
}

.overlay img {
  width: 100%;
}

.banner {
  width: 90vw;
  height: 80vh;
  top: 270vh;
  left: 5vw;
  position: absolute;
  overflow-x: hidden;
  border-radius: 50px;
  border: 10px solid white;
}

.banner::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: #047c18;
}

.banner::-moz-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: #047c18;
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
}

.scroll-down-dude:before,
.scroll-down-dude:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-bottom: 4px solid white;
  border-right: 4px solid #4dcacb;
}

.scroll {
  z-index: 10;
  bottom: 50px;
  right: 50px;
  position: fixed;
}

.scroll-down-dude:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.scroll-down-dude:before {
  -webkit-animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

.scroll-down-dude:after {
  -webkit-animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@-webkit-keyframes down-arrow-before {
  50% {
    -webkit-transform: rotate(45deg) translate(70%, 70%);
            transform: rotate(45deg) translate(70%, 70%);
  }
  100% {
    -webkit-transform: rotate(45deg) translate(70%, 70%);
            transform: rotate(45deg) translate(70%, 70%);
  }
}

@keyframes down-arrow-before {
  50% {
    -webkit-transform: rotate(45deg) translate(70%, 70%);
            transform: rotate(45deg) translate(70%, 70%);
  }
  100% {
    -webkit-transform: rotate(45deg) translate(70%, 70%);
            transform: rotate(45deg) translate(70%, 70%);
  }
}

@-webkit-keyframes down-arrow-after {
  50% {
    -webkit-transform: rotate(45deg) translate(110%, 110%);
            transform: rotate(45deg) translate(110%, 110%);
    opacity: 0;
  }
  51% {
    -webkit-transform: rotate(45deg) translate(-130%, -130%);
            transform: rotate(45deg) translate(-130%, -130%);
  }
  100% {
    -webkit-transform: rotate(45deg) translate(-70%, -70%);
            transform: rotate(45deg) translate(-70%, -70%);
    opacity: 1;
  }
}

@keyframes down-arrow-after {
  50% {
    -webkit-transform: rotate(45deg) translate(110%, 110%);
            transform: rotate(45deg) translate(110%, 110%);
    opacity: 0;
  }
  51% {
    -webkit-transform: rotate(45deg) translate(-130%, -130%);
            transform: rotate(45deg) translate(-130%, -130%);
  }
  100% {
    -webkit-transform: rotate(45deg) translate(-70%, -70%);
            transform: rotate(45deg) translate(-70%, -70%);
    opacity: 1;
  }
}

#videoWindow {
  top: 460vh;
  position: absolute;
  min-width: 100%;
  height: 100vh;
  border: none;
  overflow-x: hidden;
}

.videoContent {
  position: absolute;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  left: 5vw;
  top: 460vh;
  height: 20px;
  font-family: 'Amatic SC', cursive;
}

.videoContent h1 {
  font-weight: bolder;
  font-size: 7em;
  opacity: 0.8;
  color: #00f3e0;
}

.videoContent p {
  -webkit-text-decoration: overline #00f3e0;
          text-decoration: overline #00f3e0;
  font-size: 5em;
}

.videoContent #videoBtn {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 3em;
  border: 3px solid #00f3e0;
  background: none;
  color: #00f3e0;
  cursor: pointer;
  bottom: 0;
  right: 20px;
}

.videoContent #videoBtn:hover {
  background: #00f3e0;
  color: #fdffdf;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.treeWindow {
  top: 570vh;
  position: absolute;
  width: 100vw;
  height: 200vh;
}

/* Index: */
/* 1 : Body and Tree */
/* 2: Deep Roots Collective */
/* // 1:________________________________________ */
#tree {
  width: auto;
  height: 150vh;
  position: relative;
  -webkit-transform: translateY(20vh);
          transform: translateY(20vh);
  margin: 0;
}

@-webkit-keyframes treeBrighten {
  0% {
    fill: #161111;
  }
  50% {
    fill: rgba(77, 202, 203, 0.8);
  }
  100% {
    fill: #161111;
  }
}

@keyframes treeBrighten {
  0% {
    fill: #161111;
  }
  50% {
    fill: rgba(77, 202, 203, 0.8);
  }
  100% {
    fill: #161111;
  }
}

/* @keyframes treeBrighten {
  0%  {fill: #E9EEEE;}
  10% {fill: #72B133;}
  20% {fill: #33B1B1;}
  30% {fill: #7233B1;}
  40% {fill: rgba(77, 202, 203, 1));}
  50% {fill: rgba(77, 202, 203, 1));}
  60% {fill: rgba(77, 202, 203, 1));}
  70% {fill: #7233B1;}
  80% {fill: #33B1B1;}
  90% {fill: #72B133;}
  100% {fill: #E9EEEE;}
} */
@-webkit-keyframes treeBrighten2 {
  0% {
    stroke: #19D8FF;
    stroke-dashoffset: 1;
    stroke-width: 30;
  }
  10% {
    stroke: #8D4ECC;
  }
  20% {
    stroke: #CC4E4E;
  }
  30% {
    stroke: #8DCC4E;
  }
  40% {
    stroke: #4dcacb;
  }
  50% {
    stroke: #4dcacb;
  }
  60% {
    stroke: #4dcacb;
  }
  70% {
    stroke: #8DCC4E;
  }
  80% {
    stroke: #CC4E4E;
  }
  90% {
    stroke: #8D4ECC;
  }
  100% {
    stroke: #19D8FF;
    stroke-dashoffset: 40000;
    stroke-width: 30;
  }
}
@keyframes treeBrighten2 {
  0% {
    stroke: #19D8FF;
    stroke-dashoffset: 1;
    stroke-width: 30;
  }
  10% {
    stroke: #8D4ECC;
  }
  20% {
    stroke: #CC4E4E;
  }
  30% {
    stroke: #8DCC4E;
  }
  40% {
    stroke: #4dcacb;
  }
  50% {
    stroke: #4dcacb;
  }
  60% {
    stroke: #4dcacb;
  }
  70% {
    stroke: #8DCC4E;
  }
  80% {
    stroke: #CC4E4E;
  }
  90% {
    stroke: #8D4ECC;
  }
  100% {
    stroke: #19D8FF;
    stroke-dashoffset: 40000;
    stroke-width: 30;
  }
}

#treelayer101 {
  /* animation: treeBrighten2 10s ease-in-out infinite, dash 10s linear infinite; */
  stroke-dasharray: 5000;
  -webkit-animation: treeBrighten2 20s ease-out infinite, treeBrighten 10s ease-out infinite;
          animation: treeBrighten2 20s ease-out infinite, treeBrighten 10s ease-out infinite;
}

/* #treeLayer105 {
  animation: treeBrighten 20s ease-in-out infinite;
} */
/* // 2:________________________________________ */
#drCollective {
  height: 20vh;
  position: absolute;
  font-size: 6em;
  letter-spacing: 1rem;
  font-family: 'Amatic SC',cursive;
  color: #fdffdf;
  text-decoration: underline;
  -webkit-text-decoration-color: #00f3e0;
          text-decoration-color: #00f3e0;
  font-weight: 500;
}

/* // 2:________________________________________ */
#drRoots {
  height: 20vh;
  top: 180vh;
  position: absolute;
  font-size: 6em;
  letter-spacing: 1rem;
  font-family: 'Amatic SC',cursive;
  color: #fdffdf;
  text-decoration: overline;
  -webkit-text-decoration-color: #00f3e0;
          text-decoration-color: #00f3e0;
  font-weight: 500;
  line-height: 40vh;
}

#aboutWindow {
  top: 770vh;
  position: absolute;
  height: 200vh;
  font-size: 10px;
  overflow-x: hidden;
}

#aboutWindow #bluePicBar {
  height: 30vh;
  background: #00f3e0;
  width: 200vw;
  position: relative;
  -webkit-transform: rotate(22deg);
          transform: rotate(22deg);
  left: -50vw;
  top: 80vh;
}

#aboutWindow #about2 #blueCircle {
  height: 50vh;
  background: #00f3e0;
  -webkit-clip-path: circle();
          clip-path: circle();
  background-image: url("../images/shed.jpg");
  background-size: contain;
  background-position: center;
  border-radius: 50%;
}

#aboutWindow #about2 #origin {
  font-family: 'Amatic SC', cursive;
  font-size: 4.5vh;
  color: #fdffdf;
  text-align: center;
  letter-spacing: 1px;
  height: 60vh;
}

#aboutWindow #about3 {
  top: 10vh;
  position: relative;
  text-align: center;
}

#aboutWindow #about3 a {
  font-size: 6em;
  color: #161111;
  line-height: 20vh;
}

#aboutWindow #about3 #blueSupportBar {
  background: #00f3e0;
  height: 20vh;
  position: absolute;
  left: -25vw;
  text-align: right;
  line-height: 20vh;
}

#aboutWindow #about3 #whatWeDo {
  top: 25vh;
}

#aboutWindow #about3 #whatWeDo a {
  font-size: 4.5vh;
  color: #fdffdf;
  text-align: center;
  line-height: 8vh;
}

#involvedWindow {
  top: 970vh;
  position: absolute;
  height: 100vh;
}

#involvedWindow #involvedBar {
  height: 20vh;
  background: #00f3e0;
  font-size: 6em;
  line-height: 20vh;
  font-weight: 400;
  color: #161111;
}

#involvedWindow #involvedText {
  font-size: 4.5vh;
  text-align: center;
  color: #fdffdf;
  letter-spacing: 0.1em;
  top: 10vh;
}

#contactWindow {
  top: 1070vh;
  position: absolute;
  height: 130vh;
}

#contactWindow #contactBar {
  height: 20vh;
  line-height: 20vh;
  border-bottom: 2px solid #00f3e0;
  font-size: 6em;
  font-weight: 400;
  color: #fdffdf;
}

#contactWindow #contactName, #contactWindow #contactEmail {
  padding: 2px;
  padding-left: 15px;
  color: #fdffdf;
  line-height: 10vh;
  font-size: 4.5em;
  border: 10px solid #00f3e0;
  border-radius: 20px;
  margin-top: 5vh;
  -webkit-box-shadow: 2px 12px 144px -40px #00f3df;
          box-shadow: 2px 12px 144px -40px #00f3df;
}

#contactWindow #contactName:hover, #contactWindow #contactEmail:hover {
  background: #161111;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

#contactWindow #contactForm {
  height: 60vh;
  border: 10px solid #00f3e0;
  border-radius: 20px;
  margin-top: 10vh;
  -webkit-box-shadow: 2px 12px 144px -50px #00f3df;
          box-shadow: 2px 12px 144px -50px #00f3df;
  padding-left: 15px;
  color: #fdffdf;
  font-size: 3.5em;
}

#landingMobile {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  z-index: 1;
  position: absolute;
}

#landingMobile #logo {
  width: 200px;
  height: 250px;
  margin-left: 0;
}

#landingMobile #logo #logolayer106 {
  -webkit-transform: translate(-220px, -280px);
          transform: translate(-220px, -280px);
  z-index: -1;
}

#landingMobile #bulb {
  height: 30vh;
  top: -25px;
}

#landingMobile #textLogo {
  position: absolute;
  bottom: 20vh;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  letter-spacing: 4px;
  font-weight: bold;
}

#introMobile {
  position: absolute;
  top: 100vh;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

#introMobile .marketHeading {
  height: 10vh;
  margin: 0;
  padding: 0;
  font-size: 5vh;
  color: #fdffdf;
}

#introMobile .announcement {
  height: 60vh;
  position: absolute;
  background: none;
  top: 10vh;
  border: 4px solid #fdffdf;
  -webkit-box-shadow: 2px 12px 200px -1px #00f3df;
          box-shadow: 2px 12px 200px -1px #00f3df;
  font-size: 4.8vh;
}

#introMobile .announcement a {
  font-size: 25px !important;
}

#introMobile .announcement img {
  height: 30px;
  width: 30px;
}

#introMobile .poster {
  border-top: 4px solid #00f3e0;
  border-bottom: 4px solid #00f3e0;
  top: 33vh;
  width: 100vw;
  background-image: url("../gallery/poster.png");
  background-position: center;
  height: 20vh;
  z-index: 4;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
}

#galleryMobile {
  height: 100vh;
  position: absolute;
  width: 100vw;
  top: 200vh;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

#galleryMobile .banner {
  top: 20vw;
  left: 0;
  width: 100vw;
  height: 60vh;
  overflow-x: scroll;
  border: none;
  border-radius: 0;
}

#galleryMobile .banner .galleryMobile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
}

#galleryMobile .banner .overlay-inner {
  background: #19D8FF;
  width: 60vw;
  height: auto;
  padding: 5px;
}

#galleryMobile .close {
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  font-size: 30px;
  right: 40px;
  position: relative;
  width: 32px;
}

#galleryMobile .galleryHeading {
  height: 10vh;
  margin-top: 10px;
  padding: 0;
  font-size: 5vh;
  color: #fdffdf;
}
/*# sourceMappingURL=index.css.map */