// Index

// 1: Linking stylesheets, Importing Fonts//
// 2: Body and Canvas
// 3: Landing
// 4: Navigation
// 5: Intro (Inlcudes Market Banner, Gallery, Announcement)
// 6: Scroll down arrows in corner
// 7: Video player
// 8: Tree Window
// 9: About Window
// 10: Involved? Window
// 11: Contact Window
// 12: Social Window
// ________________1____________________

@import "./variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Sofia');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
// ________________2____________________

body{ 
    height: 1200vh;
    min-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive !important;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
#canvasballs{
    height: 100%;
    position: fixed !important;
    background: $drBlack;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    left: 0;

}


// ________________3____________________

@import "./landing";
.landing {
    font-family: 'Amatic SC', cursive !important;
}

// ________________4____________________

@import "./navigation";

// ________________5____________________

@import "./intro";

// ________________6____________________

@import "./scrolldowndude";

// ________________7____________________

@import "./videoWindow";

// ________________8____________________s

@import "./treeWindow";

// ________________9____________________

@import "./aboutWindow";

// ________________10____________________

@import "./involvedWindow";

// ________________11____________________

@import "./contactWindow";
// ________________12____________________

@import "./socialWindow"
