#landingMobile {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  z-index: 1;
  position: absolute;
}

#landingMobile #logo {
  width: 200px;
  height: 250px;
  margin-left: 0;
}

#landingMobile #logo #logolayer106 {
  -webkit-transform: translate(-220px, -280px);
          transform: translate(-220px, -280px);
  z-index: -1;
}

#landingMobile #bulb {
  height: 30vh;
  top: -25px;
}

#landingMobile #textLogo {
  position: absolute;
  bottom: 20vh;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  letter-spacing: 4px;
  font-weight: bold;
}

#introMobile {
  position: absolute;
  top: 100vh;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

#introMobile .marketHeading {
  height: 10vh;
  margin: 0;
  padding: 0;
  font-size: 5vh;
  color: #fdffdf;
}

#introMobile .announcement {
  height: auto;
  position: absolute;
  background: none;
  top: 10vh;
  border: 4px solid #fdffdf;
  -webkit-box-shadow: 2px 12px 200px -1px #00f3df;
          box-shadow: 2px 12px 200px -1px #00f3df;
  font-size: 4.8vh;
}

#introMobile .announcement a {
  font-size: 25px !important;
}

#introMobile .announcement img {
  height: 30px;
  width: 30px;
}

#introMobile .poster {
  border-top: 4px solid #00f3e0;
  border-bottom: 4px solid #00f3e0;
  top: 33vh;
  width: 100vw;
  background-image: url("../gallery/poster.png");
  background-position: center;
  height: 20vh;
  z-index: 4;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
}

#galleryMobile {
  height: 100vh;
  position: absolute;
  min-width: 100vw;
  top: 200vh;
}

#galleryMobile .banner {
  top: 20vw;
  width: 90vw;
  margin-left: auto;
  height: 60vh;
  overflow-x: scroll;
  border: none;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

#galleryMobile .banner .galleryMobile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
}

#galleryMobile .banner .overlay-innerMobile {
  background-size: contain;
  position: absolute;
  left: 0;
  width: 100vw;
  height: auto;
}

#galleryMobile .banner .close {
  background: #00f3e0;
  color: #fdffdf;
  border: 2px solid #00f3e0;
  border-radius: 50px;
  font-size: 30px;
  right: 5px;
  position: absolute;
  width: 32px;
}

#galleryMobile .galleryHeading {
  height: 10vh;
  margin-top: 10px;
  padding: 0;
  font-size: 5vh;
  color: #fdffdf;
}

#galleryMobile .videoHeading {
  top: 20vh;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 10vh;
  padding: 0;
  font-size: 5vh;
  color: #fdffdf;
}

#galleryMobile #videoWindowMobile {
  -ms-flex-item-align: center;
      align-self: center;
  position: absolute;
  max-width: 100vw;
  height: auto;
  border: none;
  top: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

#galleryMobile #videoWindowMobile video {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100vw;
}

#treeWindowMobile {
  margin-top: 2vh;
  top: 310vh;
  position: absolute;
  height: 115vh;
  left: 0;
  width: 100%;
  opacity: 0.8;
}

#treeWindowMobile .row {
  margin: 0;
}

#treeWindowMobile #treeMobile {
  width: auto;
  margin: auto;
}

#treeWindowMobile .collectiveHeading {
  width: 100vw;
  font-size: 4.5em;
  color: #fdffdf;
  text-decoration: overline;
  -webkit-text-decoration-color: #00f3e0;
          text-decoration-color: #00f3e0;
}

#treeWindowMobile a {
  margin-top: 2vh;
  font-size: 3vh;
  color: #fdffdf;
}

#involvedWindowMobile {
  top: 430vh;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
}

#involvedWindowMobile #shedImage {
  border: 10px solid #00f3e0;
  border-radius: 100%;
  height: auto;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#involvedWindowMobile .row div {
  height: 10vh;
  color: #161111;
  line-height: 10vh;
  margin-top: 4vh;
  background: #00f3e0;
  min-width: 100vw;
  font-size: 4.5vh;
}

#involvedWindowMobile a {
  width: 100%;
  margin-top: 2vh;
  font-size: 3vh;
  color: #fdffdf;
}

#artworkWindowMobile {
  top: 530vh;
  left: 0;
  height: 100vh;
  position: absolute;
  width: 100vw;
}

#artworkWindowMobile .circle {
  background: #00f3e0;
  -webkit-clip-path: circle();
          clip-path: circle();
  width: auto;
  position: relative;
  background-size: contain;
  background-position: center;
}

#artworkWindowMobile #circle1 {
  height: 15vh;
  left: -25vw;
  background-image: url("../artworks/1.jpg");
}

#artworkWindowMobile #circle2 {
  height: 40vh;
  background-image: url("../artworks/2.jpg");
}

#artworkWindowMobile #circle3 {
  height: 25vh;
  right: -20vw;
  background-image: url("../artworks/3.jpg");
}

#artworkWindowMobile #circle4 {
  height: 20vh;
  left: -15vw;
  background-image: url("../artworks/4.jpg");
}
/*# sourceMappingURL=Mobile.css.map */